// How serve
.how-serve {
    padding: 100px 0;
    background-image: url(../images/serve-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    .links {
        ul {
            display: flex;
            justify-content: center;

            li {
                padding: 0 15px;

                &.active {
                    a {
                        background-color: $secondary-color;
                    }
                }
            }

            @media (max-width: 575px) {
                flex-direction: column;

                li {
                    margin: 0 auto 20px;
                }
            }
        }
    }
}