@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

// Color;
$primary-color: #01477b;
$secondary-color : #01aa07;
$hover-color : #01aa07;
$bColor: #555;
$white : #ffffff;
$black : #000000;
$bgOne: #F9F9F9;
$bgTwo: #F7F7F7;
$red: #de3723;
$yellow: #FEBF08;
$border-color: #DADADA;
$overlay-color: rgba(1, 70, 123, 0.85);

// Body;
$titleFont: 'Barlow Condensed', sans-serif;
$bodyFont: 'Nunito', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .3s;
